@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

p{
    font-family: 'Jost', sans-serif;
    font-size: 18px;
}

a{text-decoration: none ;
}

img {
    width: 200px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
background-color: rgb(255, 154, 31);
width: 100%;
margin: 0px 0 0px 0;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    text-decoration: none;
}
header ul li{
    margin: 15px;
    font-family: "Abril Fatface", serif;
    font-size: 28px;
    text-decoration: none;
    color: rgb(255, 235, 219);
}

.cabeza{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(220, 113, 0);
}
.cabeza h1{
    font-size: 36px;
    color: beige;
}
.cabeza p{
    font-size: 22px;
}

h1{
    font-size: 36px;
    font-family: "Abril Fatface", serif;
    color: black;
}

.cuerpo{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px 0 0px 0;
    background-color: rgb(255, 188, 121);
}

.caja{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    margin: 0px 0 0px 0;
}

.caja img{
    border-radius: 50%;
    border-color: black;
}

.caja p{
    font-size: 18px;
    color: rgb(156, 78, 0);
}

.redes{
    background-color: rgb(255, 154, 31);
    width: 100%;
    margin: 0px 0 0px 0;
}

.redes p{
    font-family: "Abril Fatface", serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.redesbotones{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.redesbotones img{
    width: 60px;
}

.pie {
    background-color: rgb(254, 135, 0);
    margin: 0px 0 0px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
